// ---------------------------------------------------------------------------
// Default parameters
// ---------------------------------------------------------------------------

params {
    // -- Required ---------------------------------------------------------
    variant_index       = null
    // gs://bucket/path/to/spark-dataset/
    api_key             = null
    // AlphaGenome API key
    output              = null
    // gs://bucket/synthator-results/

    // -- Optional ---------------------------------------------------------
    batch_window        = 10
    publish_dir_mode    = "copy"
    trace_report_suffix = new Date().format("yyyy-MM-dd_HH-mm-ss")
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

docker {
    enabled = true
}

process {
    shell = [
        "bash",
        "-C",
        "-e",
        "-u",
        "-o",
        "pipefail",
    ]
}


// ---------------------------------------------------------------------------
// Profiles
// ---------------------------------------------------------------------------

profiles {
    local {
        executor.name = 'local'
        workDir       = "${launchDir}/data/work"

        timeline {
            enabled = true
            file    = "${params.output}/pipeline_info/execution_timeline/execution_timeline_${params.trace_report_suffix}.html"
        }
        report {
            enabled = true
            file    = "${params.output}/pipeline_info/execution_report/execution_report_${params.trace_report_suffix}.html"
        }
        trace {
            enabled = true
            file    = "${params.output}/pipeline_info/execution_trace/execution_trace_${params.trace_report_suffix}.txt"
        }
        dag {
            enabled = true
            file    = "${params.output}/pipeline_info/pipeline_dag/pipeline_dag_${params.trace_report_suffix}.html"
        }
        params {
            variant_index = "${launchDir}/variant"
            output        = "${launchDir}/data/output"
        }
        process {
            withLabel: synthator {
                container  = 'synthator:latest'
                time       = "1h"
                maxRetries = 1
                disk       = '10.GB'
            }
        }
    }

    gcp {

        executor.name      = 'google-batch'
        executor.queueSize = 1

        google {
            enableRequesterPaysBuckets = true
            location                   = 'europe-west1'
            project                    = 'open-targets-genetics-dev'
            batch {
                spot            = false
                maxSpotAttempts = 1
            }
        }

        workDir            = 'gs://ot_orchestration/test/alpha-genome-results/work'
        params {
            variant_index = "gs://opentargets-pipeline-runs/ds/26.03-test2/output/variant"
            output        = "gs://ot_orchestration/test/alpha-genome-results/output"
        }

        timeline {
            enabled = true
            file    = "${params.output}/pipeline_info/execution_timeline/execution_timeline_${params.trace_report_suffix}.html"
        }
        report {
            enabled = true
            file    = "${params.output}/pipeline_info/execution_report/execution_report_${params.trace_report_suffix}.html"
        }
        trace {
            enabled = true
            file    = "${params.output}/pipeline_info/execution_trace/execution_trace_${params.trace_report_suffix}.txt"
        }
        dag {
            enabled = true
            file    = "${params.output}/pipeline_info/pipeline_dag/pipeline_dag_${params.trace_report_suffix}.html"
        }

        process {
            withLabel: synthator {
                container   = 'ghcr.io/project-defiant/synthator:1.0.6'
                machineType = "n1-standard-4"
                time        = "1h"
                maxRetries  = 1
                disk        = '10.GB'
            }
        }
    }
}
